body {
    font-family: "Work Sans", sans-serif;
  }

  ul {
    padding: 0px;
    margin: 0px;
  }
 
  .main-container {
    max-width: 540px;
    max-height: 679px;
    padding: 0;
    margin: 30px auto;
    background-color: #fff0a5;
    text-align: center;
    border: 1.5px solid #45171d;
    box-shadow: 8px 6px 2px rgba(228, 172, 50, 0.35);
  }
  
  .search-container {
    display: flex;
    justify-content: center;
  }
  
  .search-form {
    width: 370px;
    border: 1px solid #45171d;
    border-radius: 5px;
    height: 32px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 5px;
  }
  
  .search-form-input {
    width: 370px;
    border: 1px solid #45171d;
    border-radius: 5px;
    height: 32px;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 5px;
  }
  
  .submit-btn {
    padding: 8px 20px;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #468966;
    border: 1px solid #45171d;
    color: white;
    margin-top: 20px;
    transition: all 200ms ease-in-out;
  }
  
  .submit-btn:hover {
    background-color: #ffa323;
  }
  
  h1 {
    color: #468966;
  }
  
  .city-name {
    text-align: center;
    padding: 10px 10px 0 10px;
    font-size: 3em;
    letter-spacing: 10px;
    font-weight: 900;
  }
  
  h2 {
    color: #ffa323;
    font-size: 2em;
    font-weight: 900;
    margin-top: 0;
  }
  
  .main-tempr {
    font-size: 50px;
    color: #45171d;
    font-weight: 400;
  }

  .weather-details {
    color: #468966;
    list-style: none;
    margin-top: 10px;
  }

  .weather-item {
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
    padding-inline-start: 0px;
  }

  .weather-item:first-letter {
    text-transform: capitalize;
  }

  .main-icon {
    margin: 0 auto;
    height: 110px;
    width: 110px;
  }

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .forecast-list {
    display: flex;
    justify-content: center;
  }
  
  .col {
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
    border: 1px solid #45171d;
    color: #45171d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    max-width: 57px;
    margin-bottom: 20px;
  }
  
  .col:not(:last-child) {
    margin-right: 20px;
  }
  
  .forecast-item {
    text-align: center;
  }
  
  .forecast-day {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
  }

  .forecast-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }

  .weather-forecast-temperature-min {
    opacity: 0.7;
  }

  .code-link {
    text-align: center;
    margin-top: 15px;
  }
  